// Color Definitions:
$color-primary: #7E57C2;
$color-text: #333333;
$color-bg: #FFFFFF;

//Typography
$base-font-size: 14px/24px;

//Mixins

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
body {
  // font-family:$base-font-family;
  font-size: $base-font-size;
  background-color: $color-bg;
  color: $color-text;
}
p {
  @include primary-regular;
}
h1,h2,h3,h4,h5,h6 {
  @include primary-bold;
}
