// Color Definitions:
$color-primary: #7E57C2;
$color-text: #333333; 
$color-bg: #FF0000;

//Typography
$base-font-size: 14px/1.5;
$base-font-family: 'Libra franklin', Arial, Sans-serif; 

//Custom Mixins 
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

body {
  background-color: $color-bg;
  font-family:  $base-font-family;
  font-size:    $base-font-size;
}