$button-bg-typeone: #6255FF;   //5c50e6 On Hover
$button-bg-typeone-hover: darken(desaturate($button-bg-typeone,25),6);
$button-bg-typetwo: #3ECF8E;   //3cbe84 On Hover
$button-bg-typetwo-hover: darken(desaturate($button-bg-typetwo,25),6);
$button-bg-typethree: #FFFFFF; //f1f0ff On Hover
$button-bg-typethree-hover: darken(desaturate($button-bg-typethree,25),6);

$button-text-light: #FFFFFF;
$button-text-dark: #6255FF;

#{$all-buttons} {
  font-family: $georgia;
  border: 0;
  @include border-radius(5px);
  min-width: 160px;
  line-height: 40px;
  text-align: center;
}

// #{$all-buttons-focus},
// #{$all-buttons-hover} {
// }

// #{$all-buttons-active} {
// }

.btn-default {

  background-color: $button-bg-typeone;
  color: $button-text-light;
  &:hover {
    background-color:$button-bg-typeone-hover; 
  }
}
.btn-primary {
  background-color: $button-bg-typetwo;
  color: $button-text-light;
  &:hover {
    background-color:$button-bg-typetwo-hover; 
  }
}
.btn-secondary {
  background-color: $button-bg-typethree;
  color: $button-text-dark;
  &:hover {
    background-color:$button-bg-typethree-hover; 
  }
}
