// form styles starts here
$input-color: #333333;
$input-height: 40px;
$input-width: 260px;
$input-radius: 4px;
$input-padding: 10px 16px;
$input-border-color:#4E4A70;
$input-focus-color:#6255FF;
$input-error-border-color:#F44336;
$input-error-bg-color:rgba(212,173,170,.54);
$label-color:rgba(51,51,51,0.65);
$label-error-color: #F44336;

.form__input {
  font-size: 14px;
  line-height: 1.42857143;
  box-sizing: border-box;
  display: inline-block;
  outline: 0;
  height:$input-height;
  width:$input-width;
  color:$input-color;
  border:1px solid $input-border-color;
  border-radius: $input-radius;
  padding:$input-padding;
  @include placeholder {
    color:$label-color;
  }
  &:focus {
    border:1px solid $input-focus-color;
  }
}
.form__label {
  color: $label-color;
  font-style: 14px;
  line-height: 1.4;
}
.form__field {
  p {
    color: $label-color;
    font-style: 13px;
    line-height: 1.4;
  }
  &.is-error {
    .form__input {
      border:1px solid $input-error-border-color;
      background: $input-error-bg-color;
    }
    .form__label {
      color: $label-error-color;
    }
  }
}

.form__radio {
  visibility: hidden; 
  margin-bottom:10px;
  + label {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    &:before {
      content:"";
      height:20px;
      width:20px;
      cursor:pointer;
      display:inline-block;
      position: absolute;
      left: 0;
      top: 0;
      background:url(../images/icons/icon-radio.png) no-repeat center center;
      @include transition-property(background);
      @include transition-duration(0.25s);
      @include transition-timing-function(linear);
    }
  }
  &:checked {
    + label:before {
    background: url(../images/icons/icon-radio-selected.png);
    }
    &:hover { 
      + label:before {
        background: url(../images/icons/icon-radio-selected.png);
      }
    }    
  }
  &:hover { 
    + label:before {
      background: url(../images/icons/icon-radio-hover.png);
    }
  }
}

.input-checkbox {
  visibility: hidden; 
  + label {
    display: inline-block;
    position: relative;
    height:20px;
    width:20px;
    &:before {
      content:"";
      height:20px;
      width:20px;
      cursor:pointer;
      display:inline-block;
      position: absolute;
      left: 0;
      top: 0;
      background:url(../images/icons/icon-unchecked.png) no-repeat center center;
      @include transition-property(background);
      @include transition-duration(0.25s);
      @include transition-timing-function(linear);
    }
  }
  &:checked {
    + label:before {
    background: url(../images/icons/icon-icon-checked.png);
    }
    &:hover { 
      + label:before {
        background: url(../images/icons/icon-icon-checked.png);
      }
    }    
  }
  &:hover { 
    + label:before {
      background: url(../images/icons/icon-check-hover.png);
    }
  }
}

.form__checkbox  {
  &:not(:checked), &:checked {
    display: none;
    + label {
      position: relative;
      padding-left: 1.95em;
      cursor: pointer;
      &:before {
        content: '';
        position: absolute;
        left: 0; 
        top: 0;
        width: 20px; 
        height: 20px;
        background:url(../images/icons/icon-unchecked.png) no-repeat center center;
      }
      &:after {
        content:"";
        position: absolute;
        width: 20px; 
        height: 20px;
        left: 0;
        top: 0;
        background:url(../images/icons/icon-checked.png) no-repeat center center;
        transition: all .2s;
      }      
    }
  }
  &:checked + label {
    &:after {
      opacity: 1;
      transform: scale(1);      
    }
    &:hover:before { 
      background: url(../images/icons/icon-checked.png);
    }
  }
  &:not(:checked)+ label {
    &:after {
      opacity: 0;
      transform: scale(0);
    }
    &:hover:before { 
      background: url(../images/icons/icon-check-hover.png);
    }
  }
}
// form styles ends here
